.createForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: var(--sp-2);
}

.createForm input {
  padding: 0.5rem;
  border-radius: 30px;
  border: 1px solid #212121;
  background-color: var(--background-base);
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 500;
}
